@charset "UTF-8";
@import "_utils.scss";

body {
  margin: 0;
  font-family: "PublicSans Regular", sans-serif;
  background: $very-light-gray;
  font-size: 18px;
  position: relative;
  overflow-x: hidden;
}

br.intro-break {
  display: none;

  @include media($width: 992px) {
    display: inline;
  }
}

// Request Invite button
a.invite {
  display: inline-block;
  background: linear-gradient(to right, $lime-green 30%, $bright-cyan);
  background-size: 100% 130%;
  font-size: 18px;
  color: $white;
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 25px;
  letter-spacing: 0.1px;
  outline: 0;

  &:hover {
    background: linear-gradient(to right, $lime-green 10%, $bright-cyan);
    background-size: 110% 110%;
    opacity: 0.8;
  }
}

// =======================================
//             NAVIGATION BAR           //
// =======================================
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $light-grayish-blue;
  z-index: 999;

  .container {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    img {
      width: 150px;
    }
  }

  ul.nav-links,
  .immediate-actions {
    display: none;

    @include media($width: 992px) {
      display: block;
    }
  }

  @include media($width: 992px) {
    ul.nav-links {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;

      a {
        // display: block;
        height: 70px;
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-right: 10px;
        color: $dark-blue;
        text-decoration: none;
        position: relative;

        &:hover::after {
          width: 100%;
          opacity: 1;
          left: 0;
          right: 0;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 4px;
          width: 10%;
          background: $lime-green;
          bottom: 0;
          left: 45%;
          right: 45%;
          opacity: 0;
          z-index: 1;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .menu-wrapper {
    @include media($width: 992px) {
      display: none;
    }

    img {
      cursor: pointer;
      width: 10px;
      display: none;
      opacity: 0;
      z-index: -1;

      &.shown {
        width: auto;
        display: inline-block;
        opacity: 1;
        z-index: 1;
      }
    }
  }
}

// =======================================
//      TOGGLEABLE MOBILE NAVIGATION    //
// =======================================
div.mobile-nav {
  position: fixed;
  top: -100vh;
  height: calc(100% - 70px);
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 0.9),
    rgba(51, 51, 51, 0.7),
    rgba(51, 51, 51, 0.5),
    rgba(51, 51, 51, 0.3),
    rgba(51, 51, 51, 0.1)
  );
  z-index: 99;

  ul {
    margin: 35px 25px;
    list-style-type: none;
    padding: 30px 0;
    background-color: $white;
    border-radius: 8px;

    @include media($width: 768px) {
      width: 60%;
      margin: 35px auto;
    }
  }

  li {
    padding: 10px 0;
    text-align: center;

    a {
      text-decoration: none;
      color: $dark-blue;
      font-size: 1.2em;
      font-family: "PublicSans Regular", sans-serif;

      &:hover {
        color: $lime-green;
      }
    }
  }
}

// =======================================
//          HEADER: HERO SECTION        //
// =======================================
header {
  background: url(../img/bg-intro-mobile.svg) no-repeat;
  background-size: contain;
  background-position-y: -60px;

  @include media($width: 768px) {
    background: none;
  }

  @include media($width: 992px) {
    background: url(../img/bg-intro-desktop.svg) no-repeat;
    background-size: cover;
    background-position: 40vw -20vh !important;
  }

  @media screen and (min-height: 992px) {
    background-position: 40vw -12.5vh !important;
  }

  @include media($width: 1000px) {
    background-position: 40vw -10vh !important;
  }

  @include media($width: 1024px) {
    background-position: 40vw -15vh !important;
  }

  @include media($width: 1280px) {
    background-position: 40vw -35vh !important;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 70px;

    @include media($width: 768px) {
      height: 80vh;

      .hero-text {
        width: 65%;
        align-self: center;
        text-align: center !important;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
      height: 35vh;
      padding-top: 40vh;
      padding-bottom: 4em;

      .hero-text p {
        width: 100%;
        margin: 0;
        text-align: center;
      }
    }

    @include media($width: 992px) {
      flex-direction: row;

      .hero-text {
        width: 45%;
        text-align: left !important;
      }
    }

    @include media($width: 1000px) {
      height: 60vh;
    }

    @include media($width: 1024px) {
      height: 80vh !important;
    }

    @include media($width: 1228px) {
      height: 60vh;
    }

    @media screen and (min-height: 992px) {
      height: 45vh !important;
      padding: 60px 15px 0 15px;
    }
  }

  .hero-text {
    text-align: center;

    h1 {
      @include section-h1($size: 2.2em, $weight: 500);
    }

    p {
      @include section-p;

      @include media($width: 768px) {
        text-align: left;
        margin: 0;
      }
    }

    a.invite {
      margin-top: 1.5em;
    }
  }

  .hero-illustration {
    @media screen and (min-width: 768px) and (max-width: 992px) {
      display: none !important;
    }

    @include media($width: 992px) {
      display: block;
    }

    img {
      position: relative;
      width: 100%;
      margin-top: -34%;

      @include media($width: 768px) {
        top: -15%;
      }

      @include media($width: 992px) {
        width: 100%;
        left: 37.5%;
        margin-top: 0 !important;
        top: -25%;
      }

      @media screen and (min-height: 992px) {
        left: 23%;
        top: -15%;
      }

      @include media($width: 1000px) {
        left: 23%;
        top: -30%;
      }
      @include media($width: 1100px) {
        left: 37%;
        top: -10%;
      }

      @include media($width: 1280px) {
        // width: 110%;
        left: 36%;
        top: -10%;
      }
    }
  }
}

// =======================================
//         WHY CHOOSE US SECTION        //
// =======================================
section.why-choose-us {
  background: $light-grayish-blue;
  margin-top: 6em;

  @include media($width: 768px) {
    margin-top: 0 !important;
  }

  .container {
    padding: 4.5em 15px;
  }

  .intro {
    text-align: center;

    @include media($width: 992px) {
      text-align: left;
    }

    h1 {
      @include section-h1($size: 1.9em, $weight: 400);
      margin-top: 0;
    }

    p {
      @include section-p;

      @include media($width: 992px) {
        text-align: left;
        margin: 0;
        width: 75%;
      }
    }
  }

  .row {
    margin-top: 3.5em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

    @include media($width: 768px) {
      grid-template-columns: 1fr 1fr;
      text-align: left;
    }

    @include media($width: 992px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 0.4em;
    }

    .reason {
      width: 100%;

      h3 {
        @include section-h1($size: 1.2em, $weight: 300);
      }

      p {
        @include section-p;

        @include media($width: 768px) {
          text-align: left;
          margin: 0;
        }

        @include media($width: 992px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}

// =======================================
//        LATEST ARTICLES SECTION       //
// =======================================
section.latest-articles {
  background: $very-light-gray;

  .container {
    padding: 6em 15px 4em;
  }

  .intro {
    text-align: center;

    h1 {
      @include section-h1($size: 1.8em, $weight: 400);
      margin-top: 0;

      @include media($width: 992px) {
        text-align: left;
      }
    }
  }

  .row {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

    @include media($width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @include media($width: 992px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
    }

    .article-card {
      border-radius: 8px;
      background: $white;

      .head {
        img {
          width: 100%;
          height: 250px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          @include media($width: 992px) {
            height: 150px;
          }
        }
      }

      .body {
        padding: 30px;

        @include media($width: 992px) {
          padding: 15px;
        }

        small {
          color: grey;
          font-size: 14px;
        }

        a {
          @include section-h1($size: 1.2em, $weight: 400);
          display: block;
          margin-top: 1.4em;
          text-decoration: none;

          @include media($width: 992px) {
            margin-top: 0.8em;
            font-size: 1em !important;
          }

          &:hover {
            color: $lime-green;
          }
        }

        p {
          color: grey;
          line-height: 27px;

          @include media($width: 992px) {
            line-height: 20px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

// =======================================
//                FOOTER                //
// =======================================
footer {
  background: $dark-blue;
  position: relative;
  bottom: -20px;

  .container {
    padding: 3em 15px;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

    @include media($width: 768px) {
      grid-template-columns: repeat(4, 1fr);

      .brand-n-social {
        grid-column: 1/3;
        text-align: left;
        padding-top: 1em;

        @include media($width: 992px) {
          grid-column: 1/2;
        }

        a {
          text-decoration: none;
        }

        svg {
          transition: all 0.1s linear;
        }
      }

      .links {
        grid-column: 3/5;
        text-align: left;
        display: flex;
        justify-content: space-between;

        @include media($width: 992px) {
          justify-content: space-around;
        }

        @include media($width: 992px) {
          grid-column: 2/4;
        }

        ul {
          text-align: left;
        }
      }
      .copyright {
        grid-row: 2;
        grid-column: 2/4;

        @include media($width: 992px) {
          grid-column: 4/5;
          grid-row: 1;

          p {
            font-size: 13px;
          }
        }
      }
    }
  }

  .brand-n-social {
    text-align: center;

    .brand img {
      width: 200px;
    }
  }

  .social {
    margin-top: 1.4em;

    a svg {
      fill: #fff;

      &:hover {
        fill: $lime-green;
      }
    }

    a {
      margin-left: 15px;

      @include media($width: 992px) {
        margin-left: 7px;
      }

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }

  .links {
    ul {
      padding: 0;
      margin: 0;
      text-align: center;
      list-style-type: none;

      li {
        padding: 10px;
      }

      a {
        font-size: 20px;
        color: $white;
        text-decoration: none;
        font-weight: lighter;

        &:hover {
          color: $lime-green;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    margin-top: 1.3em;

    p {
      color: grey;
      margin-top: 30px;
    }
  }

  .dev-hype {
    background: darken($color: $lime-green, $amount: 10);
    color: $white;

    .container {
      padding: 6px 15px;
    }

    p {
      margin: 0;
      text-align: center;

      span {
        color: rgb(235, 0, 0);
        font-size: 30px;
        position: relative;
        bottom: -3px;
      }

      a {
        color: $dark-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
